.main-head {
  width: 95%;
  margin: 0 0 0 auto;
}

nav {
  @include flex(space-between, center, row);
  min-height: 10vh;
  width: 60%;
  flex-wrap: wrap;
  .logo {
    @include flex(flex-start, center, row);
    flex: 1 1 10rem;
    h1 {
      margin: 2rem;
    }
  }
  ul {
    @include flex(space-around, center, row);
    flex: 1 1 40rem;
  }
}

.intro {
  min-height: 90vh;
  width: 90%;
  margin: auto;
  flex-wrap: wrap;
  @include flex(space-between, center, row);
  h2 {
    font-size: $bigtext;
    padding-top: 2rem;
    color: #2384ad;
    text-shadow: 2px 2px 5px rgba(20, 20, 20, 0.5),
      4px 4px 10px rgba(20, 20, 20, 0.1);
    // background: $gradient;
    // background-clip: text;
    // -webkit-text-fill-color: transparent;
    // display: inline-block;
  }
}
h3 {
  font-size: $header3;
  padding: 2rem 0rem;
  color: $gray-text;
}

p {
  padding-top: 2rem;
  color: $gray-text;
}

.splash {
  position: absolute;
  top: 0%;
  right: 0%;
  height: 100%;
  z-index: -1;
}

.intro-social {
  margin-top: 4rem;
  a {
    margin-right: 5rem;
  }
}

.active {
  background: $gray-text;
  color: aliceblue;
  padding: 1rem 3rem;
  border-radius: 2rem;
}

.intro-text,
.intro-images {
  flex: 1 1 40rem;
}

#plant-left {
  animation: plant 1.5s ease infinite alternate;
}

#plant-right {
  animation: plant 1.5s ease-in-out infinite alternate 1.5s;
}

// !Sway Animation
// #me {
//   animation: me 2s ease infinite alternate;
//   transform-origin: bottom;
// }

#me {
  animation: type 0.77s ease-in-out infinite alternate-reverse;
  transform-origin: bottom;
}

#me:after {
  animation-delay: 10s;
}

#clock-arrow {
  animation: clock 2s infinite linear;
  transform-box: fill-box;
  transform-origin: bottom;
}

@keyframes type {
  0% {
    transform: translate3d(0px, 0px, 0px);
  }
  17% {
    transform: translate3d(0px, 0px, 0px);
  }
  20% {
    transform: translate3d(0px, 4px, 0px);
  }

  30% {
    transform: translate3d(0px, 0px, 0px);
  }
  73% {
    transform: translate3d(0px, 0px, 0px);
  }
  80% {
    transform: translate3d(0px, 4px, 0px);
  }
  100% {
    transform: translate3d(0%, 0%, 0deg);
  }
}
// ! Sway Animation
// @keyframes me {
//   from {
//     transform: rotateZ(-1deg);
//   }

//   to {
//     transform: rotateZ(1deg);
//   }
// }

@keyframes plant {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-5%);
  }
}

@keyframes clock {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
